.hidden {
    display: none;
}

/* columns */
div.columns {
    gap: 20px;

    div.left_column, div.right_column {
        flex: 1;
        flex-basis: 500px;
    }

    .card {
        .card-header {
            height: 55px; /* to provide static height without button */
        }
        .card {
            border: none;
            background: none;
            margin-top: 0!important;

            .card-body {
                padding: 0;
            }
        }
    }
}

/* action icons */
a.action {
    line-height:16px;
    font-size:16px;
    text-decoration:none;
    float:right;
    margin-top:2px;

    &:hover {
        text-decoration:none;
    }
}
a.add_item::before,
a.add_item_disabled::before {
    font-family:"bootstrap-icons";
    content: "\F4FA";
}
a.add_item,
a.add_item:hover {
    color:#00ff00;
}
a.remove_item,
a.remove_item:hover,
a.delete_item,
a.delete_item:hover {
    color:#ff0000;
}
a.delete_item::before,
a.delete_item_disabled::before {
    font-family:"bootstrap-icons";
    content: "\F623";
}
a.remove_item::before,
a.remove_item_disabled::before {
    font-family:"bootstrap-icons";
    content: "\F2E6";
}
a.add_item_disabled,
a.add_item_disable:hover,
a.remove_item_disabled,
a.remove_item_disable:hover,
a.delete_item_disabled,
a.delete_item_disable:hover {
    cursor:default;
    color:#ccc !important;
}

/* column listing */
div.columnlisting div.column_filter {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
    max-width: 300px;
}
div.columnsorting {
   flex-shrink: 0;

   .columnsorticon::before {
    font-family:"bootstrap-icons";
    content:"\F5D4";
   }

    .btn.asc .columnsorticon::before {
        font-family:"bootstrap-icons";
        content:"\F229";
    }
    .btn.desc .columnsorticon::before {
        font-family:"bootstrap-icons";
        content:"\F235";
    }
}
div.columnitems {
    li {
        cursor:pointer;

        &.hidden {
            display:none;
        }
    }
    div.cols {
        flex: 1;

        .sort_col_1 {
            width: 30%;
        }
        .sort_col_2 {
            width: 70%;
        }
    }
}
[data-bs-theme="light"] div.columnitems li.selected {
    background-color: var(--primary-100)!important;
}
[data-bs-theme="dark"] div.columnitems li.selected {
    background-color: var(--primary-100-dark)!important;
}

/* principal forms */
div.principal_form {
    position: relative;

    div.display-form-control {
        background: none;
        height: 38px;
        border-radius: 3px;
        border: 1px solid #b1c7e5;
        padding: 5px 12px;
    }

    > .btn > * {
        vertical-align: middle;
    }
}
#form-groupform .display-text.form-control,
#form-userform .display-text.form-control {
    border:none;
    box-shadow:none;
    padding-left:0;
}
#field-userform-active label {
    display: block;
    clear: both;
}
#image-preview-userform-portrait {
    border-radius:3px 3px 3px 3px;
    box-shadow:0px 0px 4px #666666;
}
#input-userform-portrait {
    margin-top:12px;
    margin-bottom:6px;
}
#checkbox-groupform-principal_roles-wrapper,
#checkbox-userform-principal_roles-wrapper {
    padding-left:0;
}

/* settings form */
#form-ugm_settings {
    .field {
        padding-left: 1rem;
        padding-right: 1rem;

        &:not(:last-child) {
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
        }
    }
    label.form-label {
        font-size: 18px;
    }
}