.python-version
*.egg-info
*.pyc
*.pyo
/.mxmake/
/.project
/.vscode/
/constraints-mxdev.txt
/coverage/
/dist/
/node_modules/
/package-lock.json
/paster.log
/pnpm-lock.yaml
/requirements-mxdev.txt
/sources/
/var/
/venv/
/build
