*.pyc
*.pyo
/.project
/.pydevproject
/.pydevproject.bak
/.installed.cfg
/.mr.developer.cfg
/.mrsd
/.settings/
/pip-selfcheck.json
/develop-eggs/
/bin/
/devsrc/
/eggs/
/parts/
/downloads/
/var/
/dist/
/include/
/lib/
/local/
/share/
/src/cone.ugm.egg-info/
/paster.log
