*.pyc
*.pyo
/.installed.cfg
/.mr.developer.cfg
/.mrsd
/.project
/.pydevproject
/.pydevproject.bak
/.settings/
/.vscode/
/bin/
/coverage/
/develop-eggs/
/devsrc/
/dist/
/downloads/
/eggs/
/include/
/js/karma/
/lib/
/local/
/node_modules/
/package-lock.json
/parts/
/paster.log
/pip-selfcheck.json
/share/
/src/cone.ugm.egg-info/
/var/
