include *.rst
include *.mo
include *.po
include demo.cfg
include ugm.ini
include bootstrap.py
recursive-include etc *
recursive-include cfgin *
recursive-include patches *
recursive-include src *
recursive-exclude src *.pyc *.pyo