factory: form
name: ugm_general
props:
    action: context.form_action
    class: ajax
widgets:
- default_membership_assignment_widget:
    factory: field:label:select
    value: expr:context.model.attrs.default_membership_assignment_widget
    props:
        label: i18n:default_membership_assignment_widget
        vocabulary: expr:[('listing', 'Listing'), ('inout', 'In-Out')]
- user_display_name_attr:
    factory: field:label:text
    value: expr:context.model.attrs.user_display_name_attr
    props:
        label: i18n:user_display_name_attribute
- group_display_name_attr:
    factory: field:label:text
    value: expr:context.model.attrs.group_display_name_attr
    props:
        label: i18n:group_display_name_attribute
- users_account_expiration:
    factory: field:label:checkbox
    value: expr:context.model.attrs.users_account_expiration == 'True'
    props:
        label: i18n:user_accounts_expires
        help: i18n:user_accounts_expires_help
- users_expires_attr:
    factory: field:label:text
    value: expr:context.model.attrs.users_expires_attr
    props:
        label: i18n:attribute_containing_expiration_time
        help: i18n:attribute_containing_expiration_time_help
- users_expires_unit:
    factory: field:label:select
    value: expr:int(context.model.attrs.users_expires_unit)
    props:
        label: i18n:account_expiration_unit
        help: i18n:account_expiration_unit_help
        vocabulary: expr:((0, 'Days since Epoch'), (1, 'Seconds since epoch'))
- user_id_autoincrement:
    factory: field:label:checkbox
    value: expr:context.model.attrs.user_id_autoincrement == 'True'
    props:
        label: i18n:autoincrement_user_id
        help: i18n:autoincrement_user_id_help
- user_id_autoincrement_prefix:
    factory: field:label:text
    value: expr:context.model.attrs.user_id_autoincrement_prefix
    props:
        label: i18n:autoincrement_user_id_prefix
        help: i18n:Prefix for autogenerated user ID's
- user_id_autoincrement_start:
    factory: field:label:error:number
    value: expr:int(context.model.attrs.user_id_autoincrement_start)
    props:
        label: i18n:autoincrement_initial_user_number
        help: i18n:autoincrement_initial_user_number_help
        datatype: integer
- users_portrait:
    factory: field:label:checkbox
    value: expr:context.model.attrs.users_portrait == 'True'
    props:
        label: i18n:portrait_support
        help: i18n:portrait_support_help
- users_portrait_attr:
    factory: field:label:text
    value: expr:context.model.attrs.users_portrait_attr
    props:
        label: i18n:attribute_containing_portrait_image
        help: i18n:attribute_containing_portrait_image_help
- users_portrait_accept:
    factory: field:label:text
    value: expr:context.model.attrs.users_portrait_accept
    props:
        label: i18n:portrait_mimetype
        help: i18n:portrait_mimetype_help
- users_portrait_width:
    factory: field:label:error:number
    value: expr:int(context.model.attrs.users_portrait_width)
    props:
        label: i18n:portrait_width
        help: i18n:portrait_width_help
        datatype: integer
- users_portrait_height:
    factory: field:label:error:number
    value: expr:int(context.model.attrs.users_portrait_height)
    props:
        label: i18n:portrait_height
        help: i18n:portrait_height_help
        datatype: integer
- save:
    factory: submit
    props:
        action: save
        expression: True
        handler: context.save
        next: context.next
        label: i18n:save