factory: form
name: localmanager_settings
props:
    action: context.form_action
    class: ajax mt-4
widgets:
- rules:
    factory: field:array
    value: expr:context.rules_value
    props:
        label: i18n:localmanager_rules
        sort: False
        class_add: mb-3
    widgets:
    - rule:
        factory: error:*duplicate_rule:compound
        custom:
            duplicate_rule:
                extractors:
                    - context.duplicate_rule
        widgets:
        - source:
            factory: field:label:error:autocomplete
            props:
                label: i18n:localmanager_rule_source
                required: i18n:localmanager_source_empty
                source: javascript:ugm.lm_autocomplete_gid
                minLength: 1
                delay: 300
                field.class_add: col-12 col-md-6 p-0
        - targets:
            factory: field:error:array
            props:
                label: i18n:localmanager_rule_target
                required: i18n:localmanager_no_targets_for_source
                error.position: after
                sort: False
                field.class_add: col-12 col-md-6 mt-md-4 p-0
                array.class_add: mt-md-2 ms-md-3
            widgets:
            - target:
                factory: compound
                widgets:
                - gid:
                    factory: error:*notsource:autocomplete
                    props:
                        required: i18n:localmanager_target_empty
                        source: javascript:ugm.lm_autocomplete_gid
                        minLength: 1
                        delay: 300
                    custom:
                        notsource:
                            extractors:
                                - context.target_not_source
                - default:
                    factory: checkbox
                    props:
                        class: form-check target_default
- save:
    factory: submit
    props:
        action: save
        expression: True
        handler: context.save
        next: context.next
        label: i18n:save