.hidden {
  display: none;
}

/* columns */
div.columns {
  gap: 20px;
}
div.columns div.left_column, div.columns div.right_column {
  flex: 1;
  flex-basis: 500px;
}
div.columns .card .card-header {
  min-height: 55px; /* to provide static height without button */
}
div.columns .card .card {
  border: none;
  background: none;
  margin-top: 0 !important;
}
div.columns .card .card .card-body {
  padding: 0;
}

/* action icons */
a.action {
  line-height: 16px;
  font-size: 16px;
  text-decoration: none;
  float: right;
  margin-top: 2px;
}
a.action:hover {
  text-decoration: none;
}

a.add_item::before,
a.add_item_disabled::before {
  font-family: "bootstrap-icons";
  content: "\f4fa";
}

a.add_item,
a.add_item:hover {
  color: #00ff00;
}

a.remove_item,
a.remove_item:hover,
a.delete_item,
a.delete_item:hover {
  color: #ff0000;
}

a.delete_item::before,
a.delete_item_disabled::before {
  font-family: "bootstrap-icons";
  content: "\f623";
}

a.remove_item::before,
a.remove_item_disabled::before {
  font-family: "bootstrap-icons";
  content: "\f2e6";
}

a.add_item_disabled,
a.add_item_disable:hover,
a.remove_item_disabled,
a.remove_item_disable:hover,
a.delete_item_disabled,
a.delete_item_disable:hover {
  cursor: default;
  color: #ccc !important;
}

/* column listing */
div.columnlisting div.column_filter {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 150px;
  max-width: 300px;
}

div.columnsorting {
  flex-shrink: 0;
}
@media (max-width: 400px) {
  div.columnsorting {
    flex-direction: column;
    width: 100%;
  }
}
div.columnsorting .columnsorticon::before {
  font-family: "bootstrap-icons";
  content: "\f5d4";
}
div.columnsorting .btn.asc .columnsorticon::before {
  font-family: "bootstrap-icons";
  content: "\f229";
}
div.columnsorting .btn.desc .columnsorticon::before {
  font-family: "bootstrap-icons";
  content: "\f235";
}

div.columnitems.users .sort_col_1 {
  width: 100% !important;
}
div.columnitems.users .sort_col_2 {
  display: none !important;
  width: 0 !important;
}
div.columnitems li {
  cursor: pointer;
}
div.columnitems li.hidden {
  display: none;
}
div.columnitems div.cols {
  flex: 1;
}
div.columnitems div.cols .sort_col_1 {
  width: 30%;
}
div.columnitems div.cols .sort_col_2 {
  width: 70%;
}

[data-bs-theme=light] div.columnitems li.selected {
  background-color: var(--primary-100) !important;
}

[data-bs-theme=dark] div.columnitems li.selected {
  background-color: var(--primary-100-dark) !important;
}

/* principal forms */
div.principal_form {
  position: relative;
}
div.principal_form div.display-form-control {
  background: none;
  height: 38px;
  border-radius: 3px;
  border: 1px solid #b1c7e5;
  padding: 5px 12px;
}
div.principal_form > .btn > * {
  vertical-align: middle;
}

#form-groupform .display-text.form-control,
#form-userform .display-text.form-control {
  border: none;
  box-shadow: none;
  padding-left: 0;
}

#field-userform-active label {
  display: block;
  clear: both;
}

#image-preview-userform-portrait {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0px 0px 4px #666666;
}

#input-userform-portrait {
  margin-top: 12px;
  margin-bottom: 6px;
}

#checkbox-groupform-principal_roles-wrapper,
#checkbox-userform-principal_roles-wrapper {
  padding-left: 0;
}

/* settings form */
#form-ugm_settings .field {
  padding-left: 1rem;
  padding-right: 1rem;
}
#form-ugm_settings .field:not(:last-child) {
  padding-bottom: 1rem;
}
#form-ugm_settings label.form-label {
  font-size: 18px;
}
#form-ugm_settings .scrollable-content {
  min-width: 400px;
}

#form-localmanager_settings #array-localmanager_settings-rules table td.widget {
  display: flex;
  flex-wrap: wrap;
}
