.hidden {
    display:none;
}

/* main menu icons */
ul#mainmenu li.node-users a {
    background: url('/cone.ugm.static/images/menu_users.png') top left no-repeat;
}
ul#mainmenu li.node-users a.current_page_item {
    background: url('/cone.ugm.static/images/menu_users_selected.png') top left no-repeat;
}
ul#mainmenu li.node-groups a {
    background: url('/cone.ugm.static/images/menu_groups.png') top left no-repeat;
}
ul#mainmenu li.node-groups a.current_page_item {
    background: url('/cone.ugm.static/images/menu_groups_selected.png') top left no-repeat;
}

/* content */
div#content {
    float:left;
    width:1240px;
    padding:12px;
}

/* columns */
div.columns div.column {
    float:left;
}
div.column {
    width:600px;
    min-width:600px;
}

/* add button */
div.add_button {
    float:left;
}
div.add_button input {
    font-size:80%;
}

/* column filter */
div.column_filter {
    float:right;
}
div.column_filter input {
    color:#ccc;
    font-size:80%;
}

/* column batch */
div.column .batch {
    clear:both;
    padding-top:12px;
}
div.column .batch span {
    color:#ccc;
}
div.column .batch a {
    color:#49539f;
    text-decoration:none;
}
div.column .batch strong {
    font-weight:bold;
    font-size:110%;
    color:#333;
}

/* column listing */
div.columnsorting {
    margin-top:12px;
    width:520px;
}
div.columnsorting div {
    float:left;
}
div.columnsorting div.sort_col_1 {
/*    width:124px;*/
    padding-right:5px;
}
div.columnsorting div.sort_col_2 {
/*    width:124px;*/
    padding-right:5px;
}
div.columnsorting div.sort_col_3 {
    width:270px;
}
div.columnsorting div.sortintro {
    color:#333;
    cursor:pointer;
    text-decoration:none;
    font-size:80%;
    padding-left:11px;
}
div.columnsorting a {
    color:#333;
    cursor:pointer;
    text-decoration:none;
    font-size:80%;
    font-weight:bold;
    padding-left:11px;
}
div.columnsorting a.asc {
    background: url('/cone.ugm.static/images/icon_asc.gif') 0 50% no-repeat;
}
div.columnsorting a.desc {
    background: url('/cone.ugm.static/images/icon_desc.gif') 0 50% no-repeat;
}
div.columnitems {
    clear:both;
    border-left:#ccc 1px solid;
    border-right:#ccc 1px solid;
    border-bottom:#ccc 1px solid;
    border-top:#ccc 1px solid;
    overflow-y:scroll;
}
div.left_column div.columnitems {
    height:572px;
}
div.columnitems ul {
    margin:0;
    padding:0;
    list-style-type:none;
}
div.columnitems li {
    clear:both;
    border-top:#ccc 1px solid;
/*    height:24px; */
}
div.columnitems li.first_item {
    border-top: none;
}
div.columnitems li.hidden {
    display:none;
}
div.columnitems li.selected {
    color:#fff;
    background-color:#49539f !important;
}
div.columnitems li.selected div.head.li_trigger {
    color:#fff;
    background-color:#49539f !important;
}
div.columnitems div.head {
    float:left;
    width:530px;
    overflow:hidden;
    cursor:pointer;
}
div.columnitems div.head div {
    float:left;
    overflow:hidden;
/*    height:20px;  - allow mutiline "table" rows */
    padding:4px;
}
div.columnlisting div.users div.head div.sort_col_1 {
    width:120px;
}
div.columnlisting div.groups div.head div.sort_col_1 {
    width:500px;
}
div.columnitems div.head div.sort_col_2 {
    width:120px;
/*    border-left:#ccc 1px solid; */
}
div.columnitems div.head div.sort_col_3 {
    width:266px;
/*    border-left:#ccc 1px solid; */
}
div.columnitems div.actions {
    float:right;
    overflow:hidden;
    padding:4px;
}
div.right_column div.users {
    height:509px;
}
div.right_column div.groups {
    height:178px;
}

/* inout listing */
div.inoutlisting {
	clear:both;
    margin-top:1em;
}
div.left_column_filter,
div.right_column_filter {
	width:299px;
    float:left;
    text-align:right;
}
div.left_column_filter input,
div.right_column_filter input {
    color:#ccc;
    font-size:80%;
    margin-right:1em;
    margin-bottom:1em;
}
div.inoutlisting ul {
    margin:0;
    padding:0;
    list-style-type:none;
    height:300px;
    border-bottom:#ccc 1px solid;
    border-top:#ccc 1px solid;
    overflow-y:scroll;
}
div.inoutlisting ul.inoutleftlisting {
    width:299px;
    float:left;
    border-left:#ccc 1px solid;
}
div.inoutlisting ul.inoutrightlisting {
    width:299px;
    float:left;
}
div.inoutlisting li {
    clear:both;
    border-top:#ccc 1px solid;
}
div.inoutlisting li.first_item {
    border-top: none;
}
div.inoutlisting div.head div {
    float:left;
    overflow:hidden;
    padding:4px;
}
div.inoutlisting div.actions {
    float:right;
    overflow:hidden;
    padding:4px;
}
div.inoutlisting div.actions a.hidden {
	display:none;
}

/* left column */
div.left_column {
}

/* right column */
div.right_column {
}
div.right_column div.field {
    width:400px;
    clear:both;
    line-height: 1.75em;
}
div.right_column div.field label {
    float:left;
    font-size:80%;
}
div.right_column input {
    font-size:80%;
}
div.right_column div.field input {
    float:right;
}
div.right_column div.column_limit {
    float:right;
    margin-right:24px;
}
div.right_column div.column_limit label {
    display:inline;
    float:left;
    font-size:80%;
    line-height:1.5em;
}
div.right_column div.column_limit input {
    float:right;
    font-size:80%;
}
div.right_column div.field div {
    float:right;
    font-size:80%;
    width:160px;
}

/* action icons */
a.action {
    line-height:16px;
    font-size:16px;
    padding-left:16px;
    text-decoration:none;
    float:right;
    margin-top:1px;
}
a.add_item {
    background:url('/cone.ugm.static/images/icon_add.png') 50% 50% no-repeat;
    cursor:pointer;
}
a.add_item_disabled {
    background:url('/cone.ugm.static/images/icon_add_disabled.png') 50% 50% no-repeat;
}
a.remove_item {
    background:url('/cone.ugm.static/images/icon_remove.png') 50% 50% no-repeat;
    cursor:pointer;
}
a.remove_item_disabled {
    background:url('/cone.ugm.static/images/icon_remove_disabled.png') 50% 50% no-repeat;
}
a.delete_item {
    background:url('/cone.ugm.static/images/icon_delete.png') 50% 50% no-repeat;
    cursor:pointer;
}
a.delete_item_disabled {
    background:url('/cone.ugm.static/images/icon_delete_disabled.png') 50% 50% no-repeat;
}

/* forms */
.principal_form .box {
    background: none!important;
    border-top: 1px solid #eee;
}
.column.right_column {
    margin-top: 82px;
}
#form-groupform .error,
#form-userform .error {
    width:336px;
    text-align:left;
    font-size:100%;
    margin-bottom:0.2em;
}
#form-groupform .errormessage,
#form-userform .errormessage {
    line-height:1.2em;
    padding-left:0.2em;
    float:left;
}
#form-groupform input,
#form-userform input {
    width:330px;
}
#display-groupform-id,
#display-userform-id {
    margin-top: -0.2em;
}
#field-groupform-id div,
#field-userform-id div {
    width:330px;
}
#field-groupform-principal_roles,
#field-userform-principal_roles {
    text-align:right;
}
#field-groupform-principal_roles > label,
#field-userform-principal_roles > label {
    position: absolute;
}
#field-groupform-principal_roles div label,
#field-userform-principal_roles div label {
    margin-top: 1px!important;
}
#checkbox-groupform-principal_roles-wrapper,
#checkbox-userform-principal_roles-wrapper {
	margin-top:0;
	margin-bottom:0;
	width:340px;
    list-style:none;
    clear:none;
    float:right;
}
#checkbox-groupform-principal_roles-wrapper li,
#checkbox-userform-principal_roles-wrapper li {
    clear:both;
}
#checkbox-groupform-principal_roles-wrapper li input,
#checkbox-userform-principal_roles-wrapper li input {
    float:left !important;
    width:16px;
}
#input-groupform-save,
#input-userform-save {
    margin-top:1em;
}
#input-groupform-save,
#input-groupform-cancel,
#input-userform-save,
#input-userform-cancel {
    width:100px !important;
}